/cluster_barplot.png
/conditionals.py
/datastructure.py
/day1.py
/day2.py
/file_handle.py
/important.py
/indiv_assignment2_brief.py
/loops.py
/numbers.py
/project_group.zip
/project_group88
/revision conditionals.py
/summary_report.txt
/superstore_automate copy.py
/superstore_automate.py
/superstore_transaction.csv
/t1numbers.py
/t1strings.py
/t4functions.py
/t6loops.py
/team_members.txt
/user_input.py
/w1_strings.py
/w2_numbers.py
/w3_functions.py
/w4_loops.py
/w5_conditionals.py
/w6_data_struc.py
/__pycache__